.vscode/
.idea/
.DS_Store
venv/
.venv/
env/

**/__pycache__/
**/*.pyc
**/db.sqlite3
**/local_settings.py

*.log

# .NET / C#
[Bb]in/
[Oo]bj/
[Oo]ut/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json